@font-face {
    font-family: 'galiska';
    src: url(/Galiscka\ Font/) format('truetype');
    src: url(/Galiscka\ Font/) format('opentype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'galiska', sans-serif;
     scroll-behavior: smooth;
}
.container{
    gap: 20px;
}
nav input{
    display: none;
}
.container nav ul{
    display: none;
}
input:checked ~ ul{
    display: block;
} 
nav label {
  display: inline-block;
  border-radius: 5px;
  width: 30px;
  height: 10vh;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  user-select: none;
}
li {
  display: block;
  background: lightgrey;
  margin: 0;
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid grey;
}
a{
    text-decoration: none;
    color: black;

}
.container .about { 
    display: flex;
    grid-area: about;
    background: #1a1a1a;
    color: white;
    padding: 2px;
    align-items: center;
    font-family: 'galiska', sans-serif;
    font-size: 1.1em;
    width:100%;
}
H1{
    font-family: 'galiska', sans-serif;
    font-size: 3em;  
   }

H1 > span{
    position: relative; 
    display: inline-block;
    color: #ff8800;
    height: 1em;
    vertical-align: middle;
    overflow: hidden;
    width: 100vw;
}
h1 > span > span{
    display: block;
    animation: animatewords 5s infinite ease;
    animation-iteration-count: 4;
    animation-delay: 5s;
}
@keyframes animatewords {
    0% { transform: translateY(0); }
    25% { transform: translateY(-100%); }
    50% { transform: translateY(-200%); }
    65% { transform: translateY(-250%); }
    75% { transform: translateY(-300%); }
    100% { transform: translateY(-400%); }
  }
   .container .hero {
    grid-area: hero;
    
}
.maskedimage{
    mask-image:url(imagenes/letrasabelv3.svg);
    width: 100vw;
    height: 80%;
    mask-size: 100%;
    mask-repeat: no-repeat;
    margin: 0 auto;
    
}
.formulario {
  display : flex;
  flex-direction: column;
  align-items: center;
    width: 100%;
    font-size: 2em;
}
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  font-size: 1,5rem;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 2rem;
}
input[type=submit]:hover {
  background-color: #45a049;
}
.containerform {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}
.container .tecnologias {  
    display: flex;  
    flex-direction: column;
    align-items: center; 
    gap: 20px;
    grid-area: tecnologia;
    background: #f0a30a;
    background-color: #d1d1d1;
    padding: 20px;
    width: 100%;
    overflow: hidden;
}
.ache2{
    font-family: 'galiska', sans-serif;
    font-size: 3em;
    text-align: center;
    color: #000000;
}
.fotoico {
   width: 250px;
   height: 250px;
   padding-bottom: 3px;
   
}
.fotinfinito{
    display: flex;
   width: 80%;
    animation: infiniteico 10s linear infinite;
    
}
.fotinfinito:hover {
    animation-play-state: paused;
}
@keyframes infiniteico { 
    from{transform: translatex(00%);}
    to {transform: translatex(-90%);}
        
}
.fotorotativa{
   height: 40vh;
}
footer {
    grid-area: foot;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1rem;
    background-color: #000000;
}