@font-face {
    font-family: 'galiska';
    src: url(/Galiscka\ Font/) format('truetype');
    src: url(/Galiscka\ Font/) format('opentype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'galiska', sans-serif;
     scroll-behavior: smooth;
}
.container .about { 
    display: flex;
    grid-area: about;
    background: #1a1a1a;
    color: white;
    padding: 2px;
    align-items: center;
    font-family: 'galiska', sans-serif;
    font-size: 1.1em;
    width:100%;
}
H1{
    font-family: 'galiska', sans-serif;
    font-size: 3em;  
   }

H1 > span{
    position: relative; 
    display: inline-block;
    color: #ff8800;
    height: 1em;
    vertical-align: middle;
    overflow: hidden;
    width: 100vw;
}
h1 > span > span{
    display: block;
    animation: animatewords 5s infinite ease;
    animation-iteration-count: 4;
    animation-delay: 5s;
}
@keyframes animatewords {
    0% { transform: translateY(0); }
    25% { transform: translateY(-100%); }
    50% { transform: translateY(-200%); }
    65% { transform: translateY(-250%); }
    75% { transform: translateY(-300%); }
    100% { transform: translateY(-400%); }
  }
   .container .hero {
    grid-area: hero;
    
}
.maskedimage{
    mask-image:url(imagenes/letrasabelv3.svg);
    width: 100vw;
    height: 80%;
    mask-size: 100%;
    mask-repeat: no-repeat;
    margin: 0 auto;
    
}

footer {
    grid-area: foot;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1rem;
    background-color: #000000;
}